<?xml version="1.0"?>
<robot name="cuboidal_hammer">

  <link name="hammer">
    <!-- Handle -->
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="1.2 0.12 0.08"/>
      </geometry>
      <material name="brown">
        <color rgba="0.55 0.27 0.07 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="1.2 0.12 0.08"/>
      </geometry>
    </collision>

    <!-- Head -->
    <visual>
      <origin xyz="0.6599999999999999 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.12 0.4 0.08"/>
      </geometry>
      <material name="gray">
        <color rgba="0.5 0.5 0.5 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.6599999999999999 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.12 0.4 0.08"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="0.30000000000000004"/>
      <inertia ixx="0.0001" iyy="0.0001" izz="0.0001" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>

</robot>
