<?xml version="1.0"?>
<robot name="primitive_small_spatula">

  <link name="primitive_small_spatula">
    <!-- Handle -->
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.02 0.015"/>
      </geometry>
      <material name="material">
        <color rgba="0.639 0.847 0.882 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.02 0.015"/>
      </geometry>
    </collision>

    <!-- Head -->
    <visual>
      <origin xyz="0.11499999999999999 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.04 0.01"/>
      </geometry>
      <material name="material">
        <color rgba="0.639 0.847 0.882 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.11499999999999999 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.04 0.01"/>
      </geometry>
    </collision>

    <inertial>
      <density value="400.0"/>
    </inertial>
  </link>

</robot>
