<?xml version="1.0"?>
<robot name="anvil_brush">
  <link name="anvil_brush">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="anvil_brush.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="anvil_brush.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <!-- From real world measurement, this is about 289.5g, this density gets us there, and CoM is at (0.1, 0, 0) wrt origin -->
      <density value="325.0"/>
      <origin xyz="0.1 0 0" rpy="0 0 0"/>
    </inertial>
  </link>
</robot>
