<?xml version="1.0"?>
<robot name="primitive_thick_marker">

  <link name="primitive_thick_marker">
    <!-- Handle -->
    <visual>
      <origin xyz="0 0 0" rpy="0 1.5707963267948966 0"/>
      <geometry>
        <cylinder length="0.14" radius="0.015"/>
      </geometry>
      <material name="material">
        <color rgba="0.639 0.847 0.882 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 1.5707963267948966 0"/>
      <geometry>
        <cylinder length="0.14" radius="0.015"/>
      </geometry>
    </collision>

    <!-- Head -->
    <visual>
      <origin xyz="0.085 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.01 0.01"/>
      </geometry>
      <material name="material">
        <color rgba="0.639 0.847 0.882 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.085 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.01 0.01"/>
      </geometry>
    </collision>

    <inertial>
      <density value="400.0"/>
    </inertial>
  </link>

</robot>
