<?xml version="1.0"?>
<robot name="red_brush">
  <link name="red_brush">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="red_brush.obj" scale="1 1 1"/>
      </geometry>
    </visual>

    <!-- Full mesh collision -->
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="red_brush.obj" scale="1 1 1"/>
      </geometry>
    </collision> -->

    <!-- Convex collision decomp'd -->
    <!-- 10 pieces -->
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="coacd/decomp_0.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="coacd/decomp_1.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="coacd/decomp_2.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="coacd/decomp_3.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="coacd/decomp_4.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="coacd/decomp_5.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="coacd/decomp_6.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="coacd/decomp_7.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="coacd/decomp_8.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="coacd/decomp_9.obj" scale="1 1 1"/>
      </geometry>
    </collision>

    <inertial>
      <!-- From real world measurement, this is about 115g and CoM is at (0.1, 0, 0) wrt origin -->
      <!-- This density made this object have the correct mass -->
      <density value="115.0"/>
      <origin xyz="0.1 0 0" rpy="0 0 0"/>
    </inertial>
  </link>
</robot>
