<?xml version="1.0"?>
<robot name="paring_knife">

  <link name="paring_knife">
    <!-- Handle -->
    <visual>
      <origin xyz="0 0 0" rpy="0 1.5707963267948966 0"/>
      <geometry>
        <cylinder length="0.1" radius="0.012"/>
      </geometry>
      <material name="material">
        <color rgba="0.639 0.847 0.882 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 1.5707963267948966 0"/>
      <geometry>
        <cylinder length="0.1" radius="0.012"/>
      </geometry>
    </collision>

    <!-- Head -->
    <visual>
      <origin xyz="0.1 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.025 0.002"/>
      </geometry>
      <material name="material">
        <color rgba="0.639 0.847 0.882 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.1 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.025 0.002"/>
      </geometry>
    </collision>

    <inertial>
      <density value="400.0"/>
    </inertial>
  </link>

</robot>
