<?xml version="1.0"?>
<robot name="wooden_spatula">
  <link name="wooden_spatula">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="wooden_spatula.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="wooden_spatula.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <density value="400"/>
    </inertial>
  </link>
</robot>
