<?xml version="1.0"?>
<robot name="spatula">

  <link name="spatula">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="spatula.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <!-- Original collision mesh -->
    <!--
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="spatula.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    -->

    <!-- COACD collision meshes -->
    <collision>
      <geometry>
        <mesh filename="../../../tyler_objects_convex_decomp/black_spatula/decomp_0.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../../../tyler_objects_convex_decomp/black_spatula/decomp_1.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../../../tyler_objects_convex_decomp/black_spatula/decomp_2.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../../../tyler_objects_convex_decomp/black_spatula/decomp_3.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../../../tyler_objects_convex_decomp/black_spatula/decomp_4.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <inertial>
      <density value="400"/>
    </inertial>
  </link>

</robot>
