<robot name="040_large_marker">
	<link name="_name">
		<visual>
			<geometry>
				<mesh filename="040_large_marker/google_16k/textured.obj" scale="1 1 1" />
			</geometry>
			<!-- <material name="texture"> -->
				<!-- <color rgba="1.0 1.0 1.0 1.0" /> -->
			<!-- </material> -->
		</visual>
		<collision>
			<geometry>
				<mesh filename="040_large_marker/google_16k/textured_vhacd.obj" scale="1 1 1" />
			</geometry>
		</collision>
		<inertial>
			<mass value="0.1" />
			<inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001" />
		</inertial>
	</link>
</robot>